# http://EditorConfig.org

root = true

# visual studio
[*.{sln,props,targets,csproj,vcxproj,filters}]
indent_style = space
indent_size = 2
end_of_line = crlf
charset = utf-8-bom
trim_trailing_whitespace = true

# batch
[*.{bat,cmd}]
indent_style = space
indent_size = 4
end_of_line = crlf
charset = latin1
trim_trailing_whitespace = true

# shell、toml、json
[*.{sh,bash,psl,toml,json}]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true

# cmake
[CMakeLists.txt]
indent_style = tab
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true

# docker
[Dockerfile]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true

# md，yaml，sql, xml
[*.{md,yaml,yml,sql,xml}]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true

# source code
[*.{h,hpp,c,cc,cxx,cpp,inl,lua,py,go,java,cs,proto}]
indent_style = tab
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true

[*.txt]
charset = utf-8