# https://git-scm.com/docs/gitattributes

# default use binary mode
* -text

# git
.gitattributes  text eol=lf working-tree-encoding=UTF-8
.gitignore      text eol=lf working-tree-encoding=UTF-8

# visual studio
*.sln       -text eol=crlf
*.props     -text eol=crlf
*.targets   -text eol=crlf
*.csproj    -text eol=crlf
*.vcxproj   -text eol=crlf
*.filters   -text eol=crlf

# batch
*.bat   -text eol=crlf
*.cmd   -text eol=crlf

# shell, toml
*.sh    text eol=lf diff=bash working-tree-encoding=UTF-8
*.bash  text eol=lf diff=bash working-tree-encoding=UTF-8
*.psl   text eol=lf diff=bash working-tree-encoding=UTF-8
*.toml  text eol=lf working-tree-encoding=UTF-8
*.json  text eol=lf working-tree-encoding=UTF-8

# cmake
*.cmake         text eol=lf working-tree-encoding=UTF-8
CMakeLists.txt  text eol=lf working-tree-encoding=UTF-8

# docker
Dockerfile  text eol=lf working-tree-encoding=UTF-8

# markdown，yaml，sql
*.md    text eol=lf diff=markdown working-tree-encoding=UTF-8
*.yaml  text eol=lf working-tree-encoding=UTF-8
*.yml   text eol=lf working-tree-encoding=UTF-8
*.sql   text eol=lf working-tree-encoding=UTF-8
*.xml   text eol=lf working-tree-encoding=UTF-8

# c/c++
*.h     text eol=lf diff=cpp working-tree-encoding=UTF-8
*.hpp   text eol=lf diff=cpp working-tree-encoding=UTF-8
*.c     text eol=lf diff=cpp working-tree-encoding=UTF-8
*.cc    text eol=lf diff=cpp working-tree-encoding=UTF-8
*.cxx   text eol=lf diff=cpp working-tree-encoding=UTF-8
*.cpp   text eol=lf diff=cpp working-tree-encoding=UTF-8
*.inl   text eol=lf diff=cpp working-tree-encoding=UTF-8
*.lua   text eol=lf working-tree-encoding=UTF-8
*.py    text eol=lf diff=python working-tree-encoding=UTF-8
*.go    text eol=lf diff=go working-tree-encoding=UTF-8
*.java  text eol=lf diff=java working-tree-encoding=UTF-8
*.cs    text eol=lf diff=csharp working-tree-encoding=UTF-8
*.proto text eol=lf working-tree-encoding=UTF-8

# txt
*.txt   text working-tree-encoding=UTF-8

# other
LICENSE text eol=lf working-tree-encoding=UTF-8
